body {
    font-family: 'Segoe UI';
    background: #f4f6f9;
}

h1, h2 {
    color: #0d6efd;
}

.card {
    border-radius: 10px;
    margin: 10px;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}
